.prize-wrapper {
    max-width: 560px;
    margin: 60px auto;
}

.info-row {
    font-size: 24px;
    font-weight: 700;
    color: #ECA201;
    text-align: right;
}

.info-col {
    font-size: 18px;
    color: #888;
    line-height: 36px;
    text-align: left;
}

.check-btn.ant-btn {
    color: #111;
    font-weight: 600;
    width: 100%;
    height: 48px;
    font-size: 17px;
    margin-top: 32px;
}

.prize-page {
    min-height: 400px;
}

.claim-info {
    margin-top: 24px;
    font-weight: 700;
    color: red;
}

.history-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 43px;
}